{% load static %}

<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<!--preloading-->
<div id="preloader">
<!--	<img class="logo" src="{% static 'images/horror-p.gif' %}" alt="" width="366" height="136">-->
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->


<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="index.html"><img class="logo" src="{% static 'images/horror-p.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
							Home </a>
						</li>

						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							movies
							</a>
						</li>

						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							celebrities
							</a>
						</li>

						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							community
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">

						<li><a href="#">Help</a></li>
						{% if not user.is_authenticated %}
						<li><a href="{% url 'signin' %}">Sign In</a></li>
						{% endif %}
						{% if user.is_authenticated %}
						<li"><a href="{% url 'logout' %}">Log out</a></li>
						{% endif %}
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>

	    <!-- top search form -->
	    <div class="top-search">
	    	<select>
				<option value="united">Horror</option>
				<option value="saab">Others</option>
			</select>
			<input type="text" placeholder="Hoc non debes facere...">
	    </div>
	</div>
</header>
<!-- END | Header -->
<!-- BEGIN | SLIDER -->
<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="http://facebook.com"><i class="ion-social-facebook"></i></a>
				<a href="http://twitter.com"><i class="ion-social-twitter"></i></a>
				<a href="http://gmail.com"><i class="ion-social-googleplus"></i></a>
				<a href="http://youtube.com"><i class="ion-social-youtube"></i></a>
			</div>
	    	<div  class="slick-multiItemSlider">
				{% for movie in movies %}
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{{ movie.poster.url }}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="orange"><a href="#">{{ movie.genres }}</a></span>
	    				</div>
	    				<h6><a href="#">{{ movie.title }}</a></h6>
	    				<p><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
	    			</div>
	    		</div>
				{% endfor %}
	    	</div>
	    </div>
	</div>
</div>

<div class="trailers">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>Coming soon</h2>
					<a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="videos">
				 	<div class="slider-for-2 video-ft">
				 		<div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/i-fXEAtGAqU"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/KQnviYT6Pl4"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/3BUvXBxfMUk"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/c5jCoqIA9ms?start=15"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/kR6WvPIzM-0"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/L5PW5r3pEOg"></iframe>
					    </div>


					</div>
					<div class="slider-nav-2 thumb-ft">

						<div class="item">
<!--							<div class="trailer-img">-->
<!--								<img src="images/uploads/trailer1.png">-->
<!--							</div>-->
							<div class="trailer-infor">
	                        	<h4 class="desc">Восставший из ада</h4>
	                        	<p>2:02</p>
	                        </div>
						</div>

						<div class="item">
<!--							<div class="trailer-img">-->
<!--								<img src="images/uploads/trailer2.jpg">-->
<!--							</div>-->
							<div class="trailer-infor">
	                        	<h4 class="desc">Улыбка</h4>
	                        	<p>2:34</p>
	                        </div>
						</div>

						<div class="item">
<!--							<div class="trailer-img">-->
<!--								<img src="images/uploads/trailer3.png">-->
<!--							</div>-->
							<div class="trailer-infor">
	                        	<h4 class="desc">Хэллоуин заканчивается</h4>
	                        	<p>1:26</p>
	                        </div>
						</div>

						<div class="item">
<!--							<div class="trailer-img">-->
<!--								<img src="images/uploads/trailer4.png">-->
<!--							</div>-->
							<div class="trailer-infor">
	                        	<h4 class="desc">ЧЕРНЫЙ ТЕЛЕФОН</h4>
	                        	<p>3:15</p>
	                        </div>
						</div>

						<div class="item">
<!--							<div class="trailer-img">-->
<!--								<img src="images/uploads/trailer5.png">-->
<!--							</div>-->
							<div class="trailer-infor">
	                        	<h4 class="desc">Варвар</h4>
	                        	<p>2: 33</p>
	                        </div>
						</div>

						<div class="item">
<!--							<div class="trailer-img">-->
<!--								<img src="images/uploads/trailer6.jpg">-->
<!--							</div>-->
							<div class="trailer-infor">
	                        	<h4 class="desc">Пэрл</h4>
	                        	<p>2:08</p>
	                        </div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- latest new v1 section-->
<!--<div class="latestnew">-->
<!--	<div class="container">-->
<!--		<div class="row ipad-width">-->
<!--			<div class="col-md-8">-->
<!--				<div class="title-hd">-->
<!--					<h2>Latest news</h2>-->
<!--				</div>-->
<!--				<div class="tabs">-->
<!--					<ul class="tab-links-3">-->
<!--						<li class="active"><a href="#tab31">#Movies </a></li>-->
<!--						<li><a href="#tab32"> #TV Shows </a></li>-->
<!--						<li><a href="#tab33">  # Celebs</a></li>-->
<!--					</ul>-->
<!--				    <div class="tab-content">-->
<!--				        <div id="tab31" class="tab active">-->
<!--				            <div class="row">-->
<!--				            	<div class="blog-item-style-1">-->
<!--				            		<img src="images/uploads/blog-it1.jpg" alt="" width="170" height="250">-->
<!--				            		<div class="blog-it-infor">-->
<!--				            			<h3><a href="#">Brie Larson to play first female white house candidate Victoria Woodull in Amazon film</a></h3>-->
<!--				            			<span class="time">13 hours ago</span>-->
<!--				            			<p>Exclusive: <span>Amazon Studios </span>has acquired Victoria Woodhull, with Oscar winning Room star <span>Brie Larson</span> polsed to produce, and play the first female candidate for the presidency of the United States. Amazon bought it in a pitch package deal. <span> Ben Kopit</span>, who wrote the Warner Bros film <span>Libertine</span> that has...</p>-->
<!--				            		</div>-->
<!--				            	</div>-->
<!--				            </div>-->
<!--				        </div>-->
<!--				        <div id="tab32" class="tab">-->
<!--				           <div class="row">-->
<!--				            	<div class="blog-item-style-1">-->
<!--				            		<img src="images/uploads/blog-it2.jpg" alt="" width="170" height="250">-->
<!--				            		<div class="blog-it-infor">-->
<!--				            			<h3><a href="#">Tab 2</a></h3>-->
<!--				            			<span class="time">13 hours ago</span>-->
<!--				            			<p>Exclusive: <span>Amazon Studios </span>has acquired Victoria Woodhull, with Oscar winning Room star <span>Brie Larson</span> polsed to produce, and play the first female candidate for the presidency of the United States. Amazon bought it in a pitch package deal. <span> Ben Kopit</span>, who wrote the Warner Bros film <span>Libertine</span> that has...</p>-->
<!--				            		</div>-->
<!--				            	</div>-->
<!--				            </div>-->
<!--				        </div>-->
<!--				        <div id="tab33" class="tab">-->
<!--				        	<div class="row">-->
<!--				            	<div class="blog-item-style-1">-->
<!--				            		<img src="images/uploads/blog-it1.jpg" alt="" width="170" height="250">-->
<!--				            		<div class="blog-it-infor">-->
<!--				            			<h3><a href="#">Tab 3</a></h3>-->
<!--				            			<span class="time">13 hours ago</span>-->
<!--				            			<p>Exclusive: <span>Amazon Studios </span>has acquired Victoria Woodhull, with Oscar winning Room star <span>Brie Larson</span> polsed to produce, and play the first female candidate for the presidency of the United States. Amazon bought it in a pitch package deal. <span> Ben Kopit</span>, who wrote the Warner Bros film <span>Libertine</span> that has...</p>-->
<!--				            		</div>-->
<!--				            	</div>-->
<!--				            </div>-->
<!--			       	 	</div>-->
<!--				    </div>-->
<!--				</div>-->
<!--				<div class="morenew">-->
<!--					<div class="title-hd">-->
<!--						<h3>More news on Blockbuster</h3>-->
<!--						<a href="#" class="viewall">See all Movies news<i class="ion-ios-arrow-right"></i></a>-->
<!--					</div>-->
<!--					<div class="more-items">-->
<!--						<div class="left">-->
<!--							<div class="more-it">-->
<!--								<h6><a href="#">Michael Shannon Frontrunner to play Cable in “Deadpool 2”</a></h6>-->
<!--								<span class="time">13 hours ago</span>-->
<!--							</div>-->
<!--							<div class="more-it">-->
<!--								<h6><a href="#">French cannibal horror “Raw” inspires L.A. theater to hand out “Barf Bags”</a></h6>-->

<!--								<span class="time">13 hours ago</span>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="right">-->
<!--							<div class="more-it">-->
<!--								<h6><a href="#">Laura Dern in talks to join Justin Kelly’s biopic “JT Leroy”</a></h6>-->
<!--								<span class="time">13 hours ago</span>-->
<!--							</div>-->
<!--							<div class="more-it">-->
<!--								<h6><a href="#">China punishes more than 300 cinemas for box office cheating</a></h6>-->
<!--								<span class="time">13 hours ago</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--end of latest new v1 section-->
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
				 <p>5th Avenue st, manhattan<br>
				New York, NY 10001</p>
				<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li>

					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li>
					<li><a href="#">Watchlist</a></li>
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

<!-- index14:58-->
</html>
