{% extends 'movies/base.html' %}
{% load static %}

<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


{% block content %}
<!-- BEGIN | SLIDER -->
<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="social-link">
				<p>Follow us: </p>
				<a href="http://facebook.com"><i class="ion-social-facebook"></i></a>
				<a href="http://twitter.com"><i class="ion-social-twitter"></i></a>
				<a href="http://gmail.com"><i class="ion-social-googleplus"></i></a>
				<a href="http://youtube.com"><i class="ion-social-youtube"></i></a>
			</div>
	    	<div  class="slick-multiItemSlider">
				{% for movie in movies %}
	    		<div class="movie-item">
	    			<div class="mv-img">
	    				<a href="#"><img src="{{ movie.poster.url }}" alt="" width="285" height="437"></a>
	    			</div>
	    			<div class="title-in">
	    				<div class="cate">
	    					<span class="orange"><a href="#">{{ movie.genres }}</a></span>
	    				</div>
	    				<h6><a href="#">{{ movie.title }}</a></h6>
	    				<p><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
	    			</div>
	    		</div>
				{% endfor %}
	    	</div>
	    </div>
	</div>
</div>

<div class="trailers">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>Coming soon</h2>
				</div>
				<div class="videos">
				 	<div class="slider-for-2 video-ft">
				 		<div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/i-fXEAtGAqU"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/KQnviYT6Pl4"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/3BUvXBxfMUk"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/c5jCoqIA9ms?start=15"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/kR6WvPIzM-0"></iframe>
					    </div>

					    <div>
					    	<iframe class="item-video" src="#" data-src="https://www.youtube.com/embed/L5PW5r3pEOg"></iframe>
					    </div>


					</div>
					<div class="slider-nav-2 thumb-ft">

						<div class="item">
							<div class="trailer-infor">
	                        	<h4 class="desc">Восставший из ада</h4>
	                        	<p>2:02</p>
	                        </div>
						</div>

						<div class="item">
							<div class="trailer-infor">
	                        	<h4 class="desc">Улыбка</h4>
	                        	<p>2:34</p>
	                        </div>
						</div>

						<div class="item">
							<div class="trailer-infor">
	                        	<h4 class="desc">Хэллоуин заканчивается</h4>
	                        	<p>1:26</p>
	                        </div>
						</div>

						<div class="item">
							<div class="trailer-infor">
	                        	<h4 class="desc">ЧЕРНЫЙ ТЕЛЕФОН</h4>
	                        	<p>3:15</p>
	                        </div>
						</div>

						<div class="item">
							<div class="trailer-infor">
	                        	<h4 class="desc">Варвар</h4>
	                        	<p>2: 33</p>
	                        </div>
						</div>

						<div class="item">
							<div class="trailer-infor">
	                        	<h4 class="desc">Пэрл</h4>
	                        	<p>2:08</p>
	                        </div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

<!-- index14:58-->
</html>
