{% extends 'movies/base.html' %}
{% load static %}
{% load i18n %}


<!--<div class="hero common-hero">-->
<!--	<div class="container">-->
<!--		<div class="row">-->
<!--			<div class="col-md-12">-->
<!--				<div class="hero-ct">-->
<!--					<h1> movie listing - list</h1>-->
<!--					<ul class="breadcumb">-->
<!--						<li class="active"><a href="{% url 'index' %}">Home</a></li>-->
<!--						<li> <span class="ion-ios-arrow-right"></span> movie listing</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
{% block movie %}
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			{% for movie in movies %}
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-item-style-2">
					<img src="{{ movie.poster.url }}" alt="">
					<div class="mv-item-infor">
						<h6><a href="{ movie.get_absolute_url }">{{ movie.title }}<span> </a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
						<p class="describe">{{ movie.tagline }}</p>
						<p class="run-time"> Run Time: {{ movie.duration }} minutes. Release: {{ movie.year }}</p>
						<p> Director: <a href="#">{{ movie.directors }}</a></p>
						<p> Stars: <a href="#"> {{ movie.actors }} </a></p>
					</div>
				</div>
				<div class="topbar-filter">
					<label>Movies per page:</label>
					<select>
						<option value="range">5 Movies</option>
						<option value="saab">10 Movies</option>
					</select>
					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock movie %}
