{% extends 'movies/base.html' %}
{% load static %}
{% load i18n %}

{% include 'movies/header.html' %}

{% block movie %}
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">

			<div class="col-md-8 col-sm-12 col-xs-12">
				{% for movie in movies %}
				<div class="movie-item-style-2">
					<img src="{{ movie.poster.url }}" alt="">
					<div class="mv-item-infor">
						<h6><a href="{ movie.get_absolute_url }">{{ movie.title }}<span> </a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
						<p class="describe">{{ movie.tagline }}</p>
						<p class="run-time"> Run Time: {{ movie.duration }} минут.</p>
						<p class="run-time"> Release: {{ movie.year }}.</p>
						<p> Director: {% for director in movie.directors.all %}
						<a href="#"> {{ director.name }}</a>{% endfor %}</p>




						<p> Stars: {% for actor in movie.actors.all %}
						<a href="#">  {{ actor.name }} </a>{% endfor %}</p>


					</div>
				</div>
				{% endfor %}
				<div class="topbar-filter">
					<label>Movies per page:</label>
					<select>
						<option value="range">5 Movies</option>
						<option value="saab">10 Movies</option>
					</select>
					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock movie %}
